@import "sass-bootstrap/lib/bootstrap";

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, #main {
    height: 100%;
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    height: 100%;
}

.swipe-wrap {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.swipe-wrap > div {
    float:left;
    width:100%;
    height: 100%;
    position: relative;
}

.movie {
    
    .poster,
    .spinner-container,
    .poster-bg {
        width: 100%;
        height: 100%;
    }

    .poster-bg {
        display: none;
        background-size: cover;
        background-position: center;
    }

    .spinner {
        margin-top: -48px;
    }

    .title {
        background-color: rgba(0, 0, 0, 0.85);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: #efefef;
        padding: 10px;

        h1 {
            font-size: 60px;
        }

        h1, h3 {
            font-family: 'robotolight';
            margin-top: 10px;
        }
    }
}