<div class="container-fluid main">
	<div class="now-playing">
		<div class="movies-container" ng-style="{'-webkit-transform': 'translate3d(-' + (slide / numSlides) * 100 + '%, 0, 0)', 'transform': 'translate3d(-' + (slide / numSlides) * 100 + '%, 0, 0)', width: numSlides * 100 + '%'};">
			<article class="movie" ng-repeat="movie in movies" ng-style="{'width': 100 / numSlides + '%'}" ng-init="getColor()">
				<img ng-src="/img?url={{movie.posters.original}}" class="poster">
				<div class="content">
					<header>
						<h1>
							<span class="wrap1">
								<span class="wrap2">{{movie.title}}</span>
							</span>
						</h1>
					</header>
					<p class="synopsis">
						<span class="wrap1">
							<span class="wrap2">{{movie.synopsis}}</span>
						</span>
					</p>
					<p class="critic-rating">{{movie.ratings.critics_score}}<span>%</span></p>
					<button class="btn btn-large btn-warning" ng-class="{true: 'active', false: ''}[movie.saved]" ng-click="toggleSave(movie)"><span ng-hide="!movie.saved">I'm Going To </span>Watch Later</button>
				</div>
			</article>
		</div>
	</div>
	<footer>
		<div class="pull-left arrow" ng-click="moveBack()" ng-show="movies[slide - 1].title != null"><i class="icon-angle-left"></i> <span class="orange">LAST:</span> {{movies[slide - 1].title | uppercase}}</div>
		<div class="pull-right arrow" ng-click="moveForward()" ng-show="movies[slide + 1].title != null"><span class="orange">NEXT:</span> {{movies[slide + 1].title | uppercase}} <i class="icon-angle-right"></i></div>
	</footer>
</div>